.git
.gitignore
.env.example
.editorconfig
.vscode
.idea
node_modules
npm-debug.log
docker-compose.yml
Dockerfile
.dockerignore
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
bootstrap/cache/*
.DS_Store
*.md
tests/
.github/
